<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-background-positive tabs-color-active-light test-top-bar">

  <!-- Chats Tab -->
  <ion-tab title="{{gWrittenCounter + 1}}/15" ui-sref="tab.test.written" href="#/test/written">
    <ion-nav-view name="tab-test-written"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{gSignCounter + 1}}/15" ui-sref="tabs.test.signs" href="#/test/signs">
    <ion-nav-view name="tab-test-signs"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<!--<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light test-top-bar">-->
  <!--<div class="tabs">-->
      <!--<a class="tab-item active" ui-sref="tab.test.written" href="#/test/written">-->
<!--&lt;!&ndash;<i class="icon ion-home"></i>&ndash;&gt;-->
        <!--{{globalCounter.count + 1}}/15-->
        <!--<ion-nav-view name="tab-test-written"></ion-nav-view>-->
      <!--</a>-->
<!--<a class="tab-item"  ui-sref="tabs.test.signs" href="#/test/signs"> &lt;!&ndash; check how they implement chat-detail &ndash;&gt;-->
<!--&lt;!&ndash;<i class="icon ion-star"></i>&ndash;&gt;-->
<!--{{globalCounter.count + 1}}/20-->
<!--<ion-nav-view name="tab-test-signs"></ion-nav-view>-->
<!--</a>-->
<!--</div>-->
  <!--</div>-->
